/* fonts definitions */

@font-face {
	font-family: 'BDO Grotesk';
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/bdogrotesk-regular.ttf);
}


@font-face {
	font-family: 'BDO Grotesk';
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/bdogrotesk-light.ttf);
}


@font-face {
	font-family: 'BDO Grotesk';
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/bdogrotesk-demi-bold.ttf);
}

